<div class = "container___big-card">

  <div class="big-card___photo">
  <img src="https://placehold.co/600x400/EEE/31343C" alt="" height="200px" width="300px" srcset="">
  </div>

  <div class="big-card___title">
    <h1>Nova versão mokada</h1>
  </div>

  <div class="big-card___description">
    <p>No mundo atual, a consolidação das estruturas nos obriga à análise dos procedimentos normalmente adotados. Por conseguinte, a valorização de fatores subjetivos cumpre um papel essencial na formulação dos modos de operação convencionais. Neste sentido, a competitividade nas transações comerciais facilita a criação de alternativas às soluções ortodoxas. Todas estas questões, devidamente ponderadas, levantam dúvidas sobre se o comprometimento entre as equipes deve passar por modificações independentemente das regras de conduta normativas.</p>
  </div>
</div>
