<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://th.bing.com/th/id/OIP.LqRgMURZjkaXRuXQGabHNwHaEK?rs=1&pid=ImgDetMain"
    height="200"

    alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p> <a>bla bla bla bla fjalfjalsdfjaldjfx
      fsfsfaffsfssfsfsffssfsftdFileDrop bla bla bla bla bla bla bla bla bla bla
      fsfsfaffsfssfsfsffssfsftdFileDrop bla bla bla bla bla bla bla bla bla bla  </a></p>
  </div>
</div>
